@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('static/fonts/Gilroy-Semibold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('static/fonts/Gilroy-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('static/fonts/Gilroy-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('static/fonts/Gilroy-Bold.woff');
  font-weight: 700;
}
