@import './fonts';
.form {
  padding: 30px;
  &__row {
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
    &:last-child {
      margin: 0 0 25px 0;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 10px 0;
    font-family: 'Gilroy-Bold';
  }

  &__field {
    height: 52px;
    background: #1d1e25;
    margin: 0 0 10px 0;
    padding: 0 10px 0 20px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    margin: 0 10px 0 0;
    width: 32px;
    height: 32px;
  }

  &__name {
    font-family: 'Gilroy-Semibold';
    font-weight: 600;
  }

  &__input {
    font-size: 16px;
    line-height: 19px;
    background-color: #1d1e25;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    border: none;
    font-family: 'Gilroy-Semibold';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: right;
  }

  &__limits {
    color: #757981;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
  }

  &__limit {
  }
}

.contacts {
  &__title {
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin: 0 0 30px 0;
  }

  &__field {
    background: #1d1e25;
    height: 64px;
    margin: 0 0 20px 0;
    padding: 20px 25px;
  }

  &__icon {
    margin: 0 15px 0 0;

    &_fullname {
    }

    &_email {
    }
  }

  &__input {
    border: none;
    color: #757981;
    background: #1d1e25;
    width: 100%;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 19px;
  }
}
.field {
  max-width: 470px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.agreement {
  &__text {
    position: relative;
    color: #8f939b;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 17px;
    margin: 0 0 25px 44px;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      border: 2px solid #0060f7;
      border-radius: 5px;
      background: #1d1e25;
      margin: 0 20px 0 0;
      display: inline-block;
      position: absolute;
      left: -43px;
      top: 9%;
      cursor: pointer;
    }
    &.checked::before {
      background: url('/static/img/checkmark.svg') center no-repeat;
      background-color: #0060f7;
    }
  }

  &__link {
    text-decoration: none;
    color: #0060f7;
  }
}

.btn {
  background-color: #0060f7;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  padding: 18.5px 28px 18.5px 58px;
  border: none;
  color: #ffffff;
  background-image: url('@/static/img/btn_bg.svg');
  background-repeat: no-repeat;
  background-position: 13% center;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
